.rom-container {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
  
.rom-scroll-view {
    flex: 1;
    overflow-y: auto;
    background-color: #1e1e1e;
    max-height: none; /* agora controlado pelo pai (.column-right) */
}
  
  .rom-code-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    max-height: 100%;
  }
  
  .rom-line-numbers {
    background-color: #2e2e2e;
    padding: 10px 5px;
    min-width: 35px;
    text-align: right;
    color: #999999;
    font-family: monospace;
    font-size: 18px;
    line-height: 24px;
    user-select: none;
    height: 100%;
  }
  
  .rom-line-number {
    height: 24px;
  }
  
  .rom-line-number.hidden {
    opacity: 0;
  }
  
  .rom-line-number.current {
    color: #b3591e;
  }
  
  #rom-code-editor {
    flex: 1;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    background-color: #1e1e1e;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    font-family: monospace;
    overflow: hidden;
  }
  