.rom-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
}

.rom-code-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.rom-line-numbers {
  background-color: #2e2e2e;
  padding: 10px 5px;
  width: 35px;
  text-align: right;
  color: #999999;
  font-family: monospace;
  font-size: 18px;
  line-height: 24px;
  user-select: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rom-line-number {
  height: 24px;
}

.rom-line-number.hidden {
  opacity: 0;
}

.rom-line-number.current {
  color: #b3591e;
}

.rom-editor-scroll {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

#rom-code-editor {
  width: 100%;
  height: auto;
  min-height: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  background-color: #1e1e1e;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
}
